.viewsbar-box{
    display: flex;
    padding: 0 5px;
    align-items: center;
    /* filter: brightness(1.5); */
}
.viewsbar-box p{
    margin: 0;
    color: #666;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}