.sp-db-main{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: flex;
    position: fixed;
    flex-direction: column;
    background: lightgray;
}
.sp-db-head{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sp-db-head h2{
    margin-top: 0;
}
.sp-db-head-opt{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.sp-db-head-opt input{
    height: 100%;
    flex: 1 1 auto;
    border: none;
    padding-left: 10px;
}
.sp-db-head-opt button{
    height: 100%;
    margin-left: 0.8rem;
    padding: 0px 20px;
    border: none;
    background: white;
}
.sp-db-head-opt button:hover{
    background: greenyellow;
}
.sp-db-body{
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 0.8rem;
}
.sp-db-body h4{
    color: grey;
}
.sp-db-body-1{
    width: 45%;
    display: flex;
    overflow-y: auto;
    border-radius: 2px;
    align-items: center;
    background: white;
    flex-direction: column;
}
.sp-db-body-2{
    width: 55%;
    display: flex;
    overflow-y: auto;
    padding: 20px;
    border-radius: 2px;
    align-items: center;
    margin-left: 0.8rem;
    background: rgb(233, 233, 233);
    flex-direction: column;
}
.sp-db-track-box{
    padding: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.sp-db-track-head{
    display: flex;
}
.sp-db-track-head p{
    margin: 0;
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 0.9rem;
}
.sp-db-track-head span{
    color: blue;
    font-size: 0.9rem;
}
.sp-db-track-body p{
    color: grey;
    font-size: 0.8;
}
.sp-db-track-foot{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sp-db-track-foot button{
    border: none;
    margin-left: 20px;
    padding: 8px 16px;
}
.sp-db-track-foot button:hover{
    filter: brightness(0.7);
}